body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#gameWrapper{
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: space-around;

}
#gameField {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
}
#player-X{
    font-size: 8em;
    font-weight: bold;
    margin-left: 100px;
    opacity: 0.2;
}
#player-O{
    font-size: 8em;
    font-weight: bold;
    margin-right: 100px;
    opacity: 0.2;
}
.is-active{
    opacity: 1 !important;
}
.cell {
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

.cell:hover {
    background-color: #e0e0e0;
}

#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
